* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  background-color: #fafbfc;
  margin: 0;
}

header {
  width: 100%;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 160px;
  padding-right: 160px;
}

.wrapper {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

nav {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: space-between; /* 添加此行 */
  height: 100%;
  font-size: 13px;
  font-weight: 600;
  margin-left: 0px; /* 添加左侧外边距 */
}

/* Your existing CSS code */

.three-lines {
  position: relative;
  display: inline-block;
  width: .8em;
  height: .8em;
  margin: 7px 10px 0 0;
  border-top: .1em solid #333;
  border-bottom: .1em solid #333;
  vertical-align: middle; /* Add this line */
}

.three-lines:before {
  content: "";
  position: absolute;
  top: .3em;
  left: 0;
  width: 100%;
  border-top: .1em solid #333;
}

.toggle,[id^=drop] {
  display: none
}

nav ul {
  margin-left: auto; /* 添加此行 */
  float: right;
  margin: 0;
  list-style: none;
  position: relative;
  padding: 0;
  z-index: 101
}

nav ul li {
  margin: 0;
  display: inline-block;
  background-color: #fafafa;
  padding:11px 0;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0
}

nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: #333;
  text-decoration: none
}

nav ul li ul li:hover {
  background: #f4f4f4
}

nav ul ul {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  border-top: 1px solid #f0f0f0
}

nav ul li:hover>ul {
  display: inherit
}

nav ul ul li {
  width: 240px;
  float: none;
  display: list-item;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  padding: 7px 0;
  line-height: 20px
}

nav ul ul li.json-formatter {
  border-left: 5px solid #21c31e
}

nav ul ul li.date-calculator {
  border-left: 5px solid #1e8bc3
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 300px
}

h1 {
  font-size: 20px;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.logo-title h1 {
  cursor: pointer;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p {
  font-size: 15px;
  /* font-family: Arial, sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  color: #525252;
  margin-bottom: 15px;
}

.json-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.json-input {
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  color: #333;
  line-height: 1.5;
  height: 400px;
  height: calc(100vh - 400px) !important;
  min-height: 400px;
  padding-left: 40px;
  background-image: linear-gradient(to right, #f5f5f5 0%, #f5f5f5 40px, #ffffff 40px, #ffffff 100%); /* 设置左侧区域背景色为固定颜色 */
  box-shadow: inset 40px 0 0 #f5f5f5, inset 41px 0 0 #e1e1e1; /* 添加左侧区域边框 */
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.button {
  background-color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  font-weight: 700;
  color: #333;
  margin: 10px 10px 0 0;
  border-radius: 0; /* 去除圆角 */
  text-align: center; /* 使文本居中对齐 */
  height: 40px; /* 添加固定高度 */
  display: flex; /* 添加此行 */
  align-items: center; /* 添加此行 */
  justify-content: center; /* 添加此行 */
}

.button:hover {
	background: #f3f3f3;
	border: 1px solid #d1d1d1;
	cursor: pointer
}

.button:not(.unicode-to-chinese):not(.chinese-to-unicode) {
  width: 75px;
}

.unicode-to-chinese,
.chinese-to-unicode {
  width: 130px;
}

.button.copy-button {
  display: none;
}

.button.copy-button:active {
  background-color: #198f1a;
  color: #fff;
}

.first-in-group {
  margin-right: 8px;
  margin-left: 20px; /* 调整组间间距 */
}

.first-in-group:first-child {
  margin-left: 0; /* 确保第一个按钮的左侧没有额外的间距 */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 40px;
  background: #21c31e;
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.logo-title {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 12px;
}

.logo-title h1 {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}

.sub-title {
  font-size: 12px;
  font-weight: 600;
  /* margin-left: 5px; */
  color: #525252;
}

#result-container {
  display: none;
  padding: 15px;
  margin-top: 20px;
  border-radius: 0; /* 去除圆角 */
}

.valid-result {
  background-color: #DFF0D8;
  color: #3C763D;
  border: 1px solid #D6E9C6;
}

.error-result {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}

#result-container.shown {
  display: block;
}

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: #842e2e;
  border: 1px solid #e1e1e1;
  border-radius: 0; /* 更新为 0 */
  height: auto;
  background-color: #f8f8f8;
  font-family: monospace, 'Courier New';
  font-size: 14px;
  line-height: 1.5;
  height: 400px;
  height: calc(100vh - 400px) !important;
  min-height: 400px;
}

.CodeMirror-gutters {
  display: flex;
  align-items: center;
  width: 40px;
}

.CodeMirror-gutter.CodeMirror-linenumbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.CodeMirror-linenumber {
  width: auto;
  text-align: center;
}


.CodeMirror-scroll {
  overflow: scroll!important;
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none;
  position: relative;
  background: #ffffff;
}

footer {
	text-align: center;
	/* max-width: 1100px; */
	padding: 12px;
  padding-bottom: 80px;
	/* margin: 0 auto; */
	border-top: 1px solid #eee;
	font-size: 13px;
	font-weight: 700;
  margin-top: auto;
}

.copy-container {
  text-align: center;
  margin-bottom: 12px;
}

#home-link {
  cursor: pointer;
}

.icp-container {
  text-align: center;
}

.icp-link {
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  color: inherit;
  font-size: 0.6em; /* 调整字体大小 */
  font-weight: 200; /* 调整字体粗细 */
  color: #b2b2b2; /* 调整字体颜色 */
}
.icp-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .button.copy-button {
    display: inline-block;
    background-color: #21c31e; /* 自定义颜色，例如绿色 */
    color: #fff;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-group {
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
  }

  .button {
    font-size: 12px;
    padding: 8px 12px;
    margin: 5px 0;
  }

  #result-container {
    display: none;
    padding: 8px;
    margin-top: 5px;
    margin-bottom:20px;
    border-radius: 0; /* 去除圆角 */
    height: calc(100vh - 350px);
    max-height: 30px;
    font-size: 12px;
    display: flex; /* 添加此行 */
    align-items: center; /* 添加此行 */
  }
}